upstream admin_site {
    server 127.0.0.1:8000 fail_timeout=0;
}

upstream main_site {
    server 127.0.0.1:80` fail_timeout=0;
}


server {
    listen 80;
    charset utf-8;
    client_max_body_size 128M;

    location / {
        # 일반적으로 proxy로 요청을 넘겨 줄 경우 필요한 설정들
        include         /etc/iamport/proxy_params;
        proxy_pass      http://unix:/run/iamport.sock;
    }
    location /static/ {
        alias           /srv/iamport/.static/;
    }
}